{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Production server",
      "url": "https://smashbrosapi.com/api/v1"
    },
    {
      "description": "Development server",
      "url": "http://localhost:3000/api/v1"
    }
  ],
  "info": {
    "description": "Unofficial API for Super Smash Bros",
    "version": "2.0.1",
    "title": "Super Smash Bros",
    "contact": {
      "name": "Leonardo Cabeza",
      "url": "https://github.com/leocabeza/smashbros-api"
    },
    "license": {
      "name": "MIT License",
      "url": "https://opensource.org/license/mit"
    }
  },
  "tags": [
    {
      "name": "developers",
      "description": "Operations available to regular developers"
    }
  ],
  "paths": {
    "/ultimate/characters": {
      "get": {
        "tags": [
          "developers"
        ],
        "summary": "list all smash ultimate characters",
        "operationId": "listUltimateCharacters",
        "description": "List all smash ultimate characters\n",
        "responses": {
          "200": {
            "description": "returns all smash ultimate characters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Character"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Character": {
        "type": "object",
        "properties": {
          "alsoAppearsIn": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "SSB",
                "Melee",
                "Brawl",
                "SSB4"
              ]
            }
          },
          "availability": {
            "type": "string",
            "enum": [
              "Starter",
              "Unlockable",
              "Downloadable"
            ]
          },
          "images": {
            "$ref": "#/components/schemas/Images"
          },
          "name": {
            "type": "string"
          },
          "order": {
            "type": "number",
            "format": "int32"
          },
          "series": {
            "$ref": "#/components/schemas/Series"
          }
        }
      },
      "Images": {
        "type": "object",
        "properties": {
          "icon": {
            "type": "string"
          },
          "portrait": {
            "type": "string"
          }
        }
      },
      "Series": {
        "type": "object",
        "properties": {
          "icon": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      }
    }
  }
}